<div class="container-img">
    <div class="title-desc">
        Não seja escolhido...
    </div>
    <div class="subtitle">
        Escolha!
    </div>

    <form action="/" method="GET">
        <div class="find">
            <input type="text" name="job" placeholder="Digite a vaga que esta buscando">
            <button class="new">Buscar</button>
        </div>
    </form>
</div>

{{#if search}}
    <div class="selection">Buscando Vagas que contem: {{ search }}</div>
{{else}}
    <div class="selection">Veja nossas vagas em destaque</div>
{{/if}}
<ul class="search">
    {{#each jobs}}
    <li class="company-new-job" name="{{#if dataValue.new_job}}company-new-job{{/if}}">
        <img class="img-company" src="/assets/teste.png" alt="Company">
        <div class="info-job-new">
            <p>{{dataValues.company}}</p>
            <h1>{{dataValues.title}}</h1>
            <div class="salary">{{dataValues.salary}}</div>
        </div>
        <span class="new-job">Nova</span>
        <a href="/jobs/view/:id" class="more">Ver Vaga</a>
    </li>
    <li class="company-job">
        <img class="img-company" src="/assets/teste.png" alt="Company">
        <div class="info-job-new">
            <p>{{dataValues.company}}</p>
            <h1>{{dataValues.company}}</h1>
            <div class="salary">R${{dataValues.salary}}</div>
        </div>
        <a href="/jobs/view/:id" class="more">Ver Vaga</a>
    </li>
    {{/each}}
</ul>