{{!-- <div class="view-job">
    <img class="img-company" src="/assets/teste.png" alt="Company">
        <div class="info-view-job">
            <p>{{dataValues.title}}</p>
            <h1>O que eles estão procurando {{dataValues.description}}</h1>
            <div class="view-salary">R${{dataValues.salary}},00</div>
            <div class="mengagem-view">Para trabalhar conosco na {{dataValues.company}} envie email para {{dataValues.email}}</div>
        </div>
</div> --}}

<img class="img-company-view" src="/assets/teste.png" alt="Company">
    <div class="view-job">
        <div class="info-view-job">
            <p class="view-job-title">Desenvolvedor ReactJs</p>
            <h2>O que eles estão procurando:
                <div class="message">

                </div>
            </h1>
            <div class="view-salary">R$8000,00</div>
            <div class="message-company">Para trabalhar conosco na "Empresa" envie email para "Email.com"</div>
        </div>
    </div>